<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Safe!
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="rowFlex">
    <div class="navMenu">
        <a href="/"><button>Home</button></a>
        <a href="/settings"><button>Settings</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
    <div class="queue">
        <a href="/settings/services"><button>Services Available</button></a>
        <a href="/settings/ranges"><button>Service Ranges</button></a>
        <a href="/settings/locations"><button>Service Locations</button></a>
        <a href="/settings/times"><button>Service Times</button></a>
        <a href="/settings/vehicles"><button>Register Vehicles</button></a>
        <a href="/settings/routing"><button>Routing Options</button></a>
    </div>
    <div class="colFlex">
        <h1>
            Service Ranges
        </h1>
        <h3>Add a Range</h3>
            <div className="rowFlex">
                <form action="/api/v1/settings/ranges/?target=/settings/ranges" method="post" encType="multipart/form-data">
                    Center Latitude
                    <input type="text" name="rangeLatitude" required/>
                    <br></br>
                    Center Longitude
                    <input type="text" name="rangeLongitude" required/>
                    <br></br>
                    Radius (in miles)
                    <input type="text" name="rangeRadius" required/>
                    <br></br>
                    Accept pick-ups within this range?
                    <input type="checkbox" name="isPickup"/>
                    <br></br>
                    Accept drop-offs within this range?
                    <input type="checkbox" name="isDropoff"/>
                    <br></br>
                    <input type="submit" name="submit" value="Create New Service Range"/>
                </form>
            </div>
        <h3>Existing Ranges</h3>
            <div className="rowFlex">
                {% for range in ranges %}
                <br>
                Longitude: {{range.long}}
                <br>
                Latitude: {{range.lat}}
                <br>
                Radius: {{range.radius}}
                <br>
                Accepting Pick-Ups?: {{range.isPickup}} Accepting Drop-Offs? {{range.isDropoff}}
                <br>
                <form action="/api/v1/settings/pickups/?target=/settings/ranges" method="delete" enctype="multipart/form-data">
                    <input type="hidden" name="loc_name" value={{range.name}}>
                    <button type="submit" name="submit" value="Delete Range">Delete Range</button>
                </form>
                <br>
                {% endfor %}
            </div>
    </div>
    </div>
</div>