<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Safe!
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="rowFlex">
    <div class="navMenu">
        <a href="/"><button>Home</button></a>
        <a href="/settings"><button>Settings</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
    <div class="queue">
        <a href="/settings/services"><button>Services Available</button></a>
        <a href="/settings/ranges"><button>Service Ranges</button></a>
        <a href="/settings/locations"><button>Service Locations</button></a>
        <a href="/settings/times"><button>Service Times</button></a>
        <a href="/settings/vehicles"><button>Register Vehicles</button></a>
        <a href="/settings/routing"><button>Routing Options</button></a>
    </div>
    <div class="colFlex">
        <h1>
            Services
        </h1>
        <h3>Add a Service</h3>
            <div className="rowFlex">
                <form action="/api/v1/settings/services/?target=/settings/services" method="post" encType="multipart/form-data">
                    Service Name
                    <input type="text" name="serviceName" required/>
                    <br></br>
                    Provider
                    <input type="text" name="provider" required/>
                    <br></br>
                    Start Time
                    <input type="time" name="startTime" required/>
                    <br></br>
                    End Time
                    <input type="time" name="endTime" required/>
                    <br></br>
                    Cost
                    <input type="number" name="cost" required/>
                    <br></br>
                    <input type="submit" name="submit" value="Create New Service"/>
                </form>
            </div>
        <h3>Existing Services</h3>
            <div className="rowFlex">
                {% for service in services %}
                <br>
                Service: {{service.service_name}}
                <br>
                Start time: {{service.start_time}}
                <br>
                End time: {{service.end_time}}
                <br>
                Provider: {{service.provider}}
                <br>
                Cost: {{service.cost}}
                <br>
                <form action="/api/v1/settings/services/?target=/settings/services" method="delete" enctype="multipart/form-data">
                    <input type="hidden" name="loc_name" value={{service.service_name}}>
                    <button type="submit" name="submit" value="Delete Service">Delete Service</button>
                </form>
                <br>
                {% endfor %}
            </div>
    </div>
    </div>
</div>