<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Safe!
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="rowFlex">
    <div class="navMenu">
        <a href="/"><button>Home</button></a>
        <a href="/settings"><button>Settings</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
    <div class="queue">
        <a href="/settings/services"><button>Services Available</button></a>
        <a href="/settings/ranges"><button>Service Ranges</button></a>
        <a href="/settings/times"><button>Service Times</button></a>
        <a href="/settings/vehicles"><button>Register Vehicles</button></a>
        <a href="/settings/routing"><button>Routing Options</button></a>
    </div>
    <h1>
        Select a setting from the left pane.
    </h1>
</div>